/*
#0A2239 Background
#53A2BE Section
#1D84B5 Border
#132E32 Text
#176087
*/
nav{
  background: #53A2BE;
  margin: 1% auto 1% auto;
  width: 40%;
  text-align: center;
  padding: .01%;
  border: 4px solid #1D84B5;
  border-radius: 9px;
}

body {
  background: #0A2239;
  color: #132E32;
}

.main {
  background: #53A2BE;
  margin: 0 auto 0 auto;
  width: 80%;
  text-align: center;
  border: 4px solid #1D84B5;
  border-radius: 5px;
}

.list {
  display: inline-block;
}

a:link, a:visited {
  color: #132E32;
}

nav p a {
  padding: 6px;
}
